apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "sbom-service-chart.fullname" . }}
  labels:
    {{- include "sbom-service-chart.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "sbom-service-chart.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "sbom-service-chart.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "sbom-service-chart.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: QUARKUS_OTEL_EXPORTER_OTLP_ENDPOINT
              value: {{ .Values.config.otel.endpoint }}
            - name: QUARKUS_OTEL_EXPORTER_OTLP_PROTOCOL
              value: {{ .Values.config.otel.protocol }}
            - name: QUARKUS_OTEL_RESOURCE_ATTRIBUTES
              value: "service.name=sbomer-sbom-service"
            {{- if .Values.recipeConfig.override }}
            - name: SBOMER_CONFIG_PATH
              value: {{ .Values.recipeConfig.path | quote }}
            {{- end }}
            - name: KAFKA_BOOTSTRAP_SERVERS
              value: {{ .Values.config.kafka.bootstrapServers | quote }}
            - name: SCHEMA_REGISTRY_URL
              value: {{ .Values.config.kafka.schemaRegistryUrl | quote }}
            - name: DB_URL
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.database.existingSecret }}
                  key: jdbc-url
            - name: DB_USERNAME
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.database.existingSecret }}
                  key: postgres-username
            - name: DB_PASSWORD
              valueFrom:
                secretKeyRef:
                  name: {{ .Values.config.database.existingSecret }}
                  key: postgres-password
            {{- with .Values.extraEnv }}
            {{- toYaml . | nindent 12 }}
            {{- end }}
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- if or .Values.recipeConfig.override .Values.volumeMounts }}
          volumeMounts:
            # Mount the config if override is present
            {{- if .Values.recipeConfig.override }}
            - name: recipe-config-vol
              mountPath: /etc/sbomer
              readOnly: true
            {{- end }}
            # Mount any other volumes defined in values.yaml
            {{- if .Values.volumeMounts }}
            {{- toYaml .Values.volumeMounts | nindent 12 }}
            {{- end }}
          {{- end }}
      {{- if or .Values.recipeConfig.override .Values.volumes }}
      volumes:
        {{- if .Values.recipeConfig.override }}
        - name: recipe-config-vol
          configMap:
            name: {{ include "sbom-service-chart.fullname" . }}-config
        {{- end }}
        {{- if .Values.volumes }}
        {{- toYaml .Values.volumes | nindent 8 }}
        {{- end }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
